.category-tile {
  height: 250px;
  background-size: cover;
  background-position: center;
  padding-left: 20px !important;
  padding-right: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 30px;
}

.home-banner {
  width: 100%;
  background-size: cover;
}

.category-tile:hover {
  transform: scale(1.05);
}

.sale_banner--container {
  width: 100%;
}

.sale_banner--container img {
  max-width: 1200px;
  display: block;
  margin: 0 auto;
  width: 100%;
}
